/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-elpuasdigitalcrafts-blockcraft-copy {
	background-color: var( --wp--preset--color--luminous-vivid-orange, #ff6900 );
	color: var( --wp--preset--color--luminous-vivid-amber, #fcb900 );
	padding: 2px;
}
